
.grid_area {
    grid-template-rows: var(--header-grid-height) 1fr 1fr var(--player-grid-height);

    grid-template-areas: "header header header"
        "content content content"
        "content content content"
        "player player player";
}

.area_content {
    grid-area: content;
}

.area_player {
    grid-area: player;
    height: auto;
}

.area_header {
    grid-area: header;
}

.grid_audio_cards {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

