@use 'responsive' as responsive;

.grid_area {
    grid-template-rows: var(--header-grid-height) 1fr 1fr var(--player-grid-height);

    grid-template-areas: "header header header"
        "content content content"
        "content content content"
        "player player player";
}

.area_content {
    grid-area: content;
}

.area_player {
    grid-area: player;
    height: auto;
}

.area_header {
    grid-area: header;
}

.grid_audio_cards {
    width: 100%;

    @include responsive.desktop {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

        padding: 2rem 5%;
    }

    @include responsive.tablet {
        grid-template-columns: 1fr 1fr 1fr;
    }

    @include responsive.mobile {
        grid-template-columns: 1fr;

        padding: 2rem 5%;
    }
}

